h1,h2{
	text-align: center;
	font-family: 'Ruslan Display', cursive;
	font-size: 40px;
	color: red;

}

body {
	background-image: url("backdrop.png");
	font-family: 'Anton', sans-serif;

}
li{
	text-align: center;
	color: lightblue;
	transition: transform .2s;
	    margin:auto;
	}
li:hover{
	    transform: scale(1.3); 
	    list-style: none;

}

.flex-container {
  display: flex;
  
}
.flex-container > ul {
  background-color: #f1f1f1;
  width: 400px;
  margin: 0px;
  line-height: 80px;
  border-radius: 5px;
  background-image: url(https://data.whicdn.com/images/277379761/original.gif);
  margin-right: auto;
  margin-left: auto;
  	font-size: 20px;

}